body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(./background/tablette.jpg);
}

.container {
    background-color: beige;
    margin: 10px auto;
    padding: 20px 50px;
    width: 70%;
}

.banner {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
    padding: 30px 0px;
    background-image: url(./background/banniere.jpg);
    width: 100%;
    background-color: brown;
}

figure {
    display: block;
    border: solid brown 2px;
    padding: 10px;
    margin: 10px 0px;
    max-width: 300px;
    text-align: center;
}

section {
    display: inline-block;
}

.left {
    width: 25%;
}

.right {
    width: 65%;
    vertical-align: top;
    padding-left: 20px;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: brown;
}

.logos {
    width: 80%;
    margin: 0 auto;
}

li {
    display: inline-block;

}

li img {
    border: solid 2px brown;
    border-radius: 10px;
    margin: 10px;
    
}

.legende {
    font-size: 0.6em;
    color: blueviolet;
    text-align: center;
    margin-top: 0px;
}

.highlight {
    background-color: yellow;
}

.dotted-line {
    border: none;
    border-top: 1px dotted brown;
    margin: 20px 0;
}
