html { 
  background-color: #E0E0E0;
  font-family: Helvetica, sans-serif;
 }

body { 
  background-color: #f6fcea;
  max-width: 60em;
  margin: 2em auto;
  border: lightyellow solid 2px;
  display: block;
  border: 5px;
  background-color: lightyellow;
  
}


h1 {
    display: block;
    background-color: red;
    text-align: center;
    height: 100px;
    color: white;
    margin: 0 auto;
}

h2 {
    font-style: italic;

}

#figure-fraises {
    display: block;
    border: 2px solid black;
    background-color: white;
    padding: 10px 3px 3px 3px;
    width: 640px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

}

section {
    border-bottom: 2px solid red;

}

#figure-fleurs {
    display: block;
    border: 2px solid black;
    background-color: white;
    padding: 10px 3px 3px 3px;
    width: 640px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

}

main {
    padding: 30px;
}

footer {
    display: block;
    background-color: white;
    text-align: right;
    padding: 3px 10px;

}
